{% extends 'base.html.twig' %}

{% block title %}Lignes commande{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste de la lignes des commandes</h3>
                <div class="card-tools">
                    <a href="{{ path('ligne_commande_new') }}" class="btn btn-tool btn-sm">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Pain</th>
                            <th>Poid</th>
                            <th>Quantite</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ligne_commande in ligne_commandes %}
                        <tr onclick="document.location = '{{ path('ligne_commande_edit', {'id': ligne_commande.id}) }}';">
                            <td>{{ ligne_commande.pain.nom }}</td>
                            <td>{{ ligne_commande.pain.poid }}</td>
                            <td>{{ ligne_commande.quantite }}</td>

                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block navbar %}
    <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ path('ligne_commande_new') }}" class="nav-link">Ajouter une ligne de commande</a>
    </li>
{% endblock %}