{% extends 'base.html.twig' %}

{% block title %}Paramètres{% endblock %}

{% block body %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Paramètres</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">

                <table  class="table table-hover text-nowrap">
                    <tbody>
                    {% for setting in settings %}
                        <tr onclick="document.location = '{{ path('settings_edit', {'id': setting.id}) }}';">
                            <td>{{ setting.name |trans}}</td>
                                {% if setting.name == 'color'%}
                                <td><div class="option-index-color color-{{setting.value}}"></div></td>
                                {% elseif setting.name == 'logo'%}
                                <td><img src='{{ asset('uploads/logo/' ~ options_settings.get('logo')) }}' alt="logo" class="brand-image img-circle elevation-3 navbar-{{ options_settings.get('color') }}" style="opacity: .8; max-height: 50px;"></td>

                                {% else %}
                                <td>{{ setting.value }}</td>
                                {% endif %}
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>                
{% endblock %}
